body {
  margin: 0;
  padding: 0;
  /* background: black; */
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bowl {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  fill: #99b4ff;
  border: 2px solid #99b4ff;
  position: relative;
  animation: move 8s infinite;
}

@keyframes move {
  0% {
    transform: rotate(0);
  }
  33% {
    transform: rotate(-20deg);
  }
  67% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0);
  }
}

.bowl:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  left: 0%;
  top: 0%;
}

.water {
  height: 190px;
  width: 190px;
  background: linear-gradient(to bottom, black 0% 50%, #2389da 50% 100%);
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 7px;
  animation: move1 8s infinite;
  z-index: -100;
}

@keyframes move1 {
  0% {
    transform: rotate(0);
  }
  33% {
    transform: rotate(20deg);
  }
  67% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0);
  }
}

.water:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  background: #0f5e9c;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
