// @import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,600;0,800;1,700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400&display=swap');

/* FONTS */
// $martel: 'Martel', serif;
$barlow: 'Barlow', sans-serif;
// $mono: 'PT Mono', monospace;
$font: $barlow;

/* COLOR THEMES */

/* ROYAL THEME */
$white: #e0e0e0;
$yellow: #ffdb00;
$royal: #0058a3;

// $primary-color: $yellow;
// $secondary-color: $royal;
// $alternative: $white;

/* DANNY PHANTOM THEME */
$charcoal: #0f1f2e;
$green: #a3f7b5;
$off-white: #ebfbff;

// $primary-color: $green;
// $secondary-color: $charcoal;
// $alternative: $off-white;

/* BARBIE THEME */
$hot-pink: #E55381;
$light-pink: #EFA9AE;

$primary-color: $light-pink;
$secondary-color: $hot-pink;
$alternative: $white;

/* DOLPHINS THEME */
$aqua: #008E97;
$orange: #FC4C02;

// $primary-color: $white;
// $secondary-color: $aqua;
// $alternative: $orange;

/* EMMA THEME */
$dark-purple: #2702A2;
$light-purple: #9670FF;
$tea-green: #C5EFCB;

// $primary-color: $dark-purple;
// $secondary-color: $tea-green;
// $alternative: $light-purple;

.revision {
  bottom:0;
  padding-bottom: 10px;
  position: fixed;
  font-size: 14px;
}

h2 {
  font-weight: 800;
  color: $alternative;
}

h3 {
  font-weight: 600;
  font-size: 1.5rem;
  color: $alternative;
  margin: 0;
}

h4 {
  font-weight: 600;
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
}

.bold {
  font-weight: 800;
}

body {
  font-family: $font !important;
  background-color: $secondary-color;
  font: 24px "Century Gothic", Futura, sans-serif;
  margin: 25px;
  color: $primary-color;
}

hint {
  opacity: 0.8;
}

.icons {
  margin-top: 40vh;
  text-align: center;
}

.fa-link {
  color: $primary-color;
  text-decoration: 'none';
  padding-left: 10px;
  padding-right: 10px;
  font-size: 36px;
}

.fa-link:hover {
  color: $alternative;
}

h1 {
  padding: 0rem;
  font-size: 5rem;
  margin: 0rem;
}

h2 {
  padding-bottom: 0rem;
  margin-bottom: 0rem;
}

.fadeOut{
  opacity:0;
  width:0;
  height:0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.fadeIn{
  opacity:1;
  width:100px;
  height:100px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

.homepage {
  min-height: 100vh;
}

/* SPOTIFY PAGE */
.p-5 {
  padding: 5%;
}

.album-art {
  width: 100%;
  transition: 0.75s;
}

.album {
  @media screen and (max-width: 725px) {
    width:33%;
  }
  transition: 0.75s;
}

.album:hover {
  background-color:$primary-color;
  .album-art {
    width: 95%;
  }
}

/* LETTERBOX page */
.reviews {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.review {
  cursor: pointer;
  @media screen and (max-width: 710px) {
    padding: 0.5rem;
    margin: 0.5rem;
    img {
      width: 7rem;
    }
    svg {
      font-size: 16px;
    }
  }
  border: 2px $alternative solid;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  .reviewText {
    display: none;
  }
}

.review:hover {
  border-color: $primary-color;
}

.review-detailed {
  display: none;
  border: 2px $alternative solid;
  margin: 1rem;
  padding: 2rem;
  border-radius: 0.5rem;

  @media screen and (max-width: 605px) {
    font-size: 18px;
  }
  .close {
    margin-bottom: 1rem;
    color: $primary-color;
    float: right;
    font-size: 36px;
  }
  
  .close:hover,
  .close:focus {
    color: $alternative;
    text-decoration: none;
    cursor: pointer;
  }
}

.commentIcon {
  float: right;
}

.poster {
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.ul-title {
  color: $primary-color;
  text-decoration: underline $alternative;
  text-decoration-thickness: 3px;
  font-style: italic;
  margin-right: 0.5rem;
}

blockquote {
  font-style: italic;
  border-left: 4px $alternative solid;
  margin: 2rem 1rem 2rem 1rem;
  padding-left: 2rem;
  color: $alternative;
}

select {
  font-family: $barlow;
  font-size: inherit;
  text-decoration: underline $alternative 0.2rem;
  margin-left: 0.25rem;
  background-color: inherit;
  border-radius: 0.5rem;
  color: $primary-color;
  border: $alternative 0.0rem solid;
}

.theme-icon {
  transition: transform .15s ease-in-out;
  position: absolute;
  right: 0;
  top: 0;
  margin: 2rem;
  cursor: pointer;
}

.theme-icon:hover {
  transform: rotate(180deg);
  color: $alternative;
}