@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,600;0,800;1,700&display=swap');


/* FONTS */
$martel: 'Martel', serif;
$barlow: 'Barlow', sans-serif;

$font: $barlow;


/* COLOR THEMES */
$white: #e0e0e0;
$primary-color: $white;
$secondary-color: black;
$blue: #4ec7d0;

.blue {
  color: $blue;
}

h2 {
  font-weight: 800;
  color: $blue;
}

h3 {
  font-weight: 800;
}

.bold {
  font-weight: 800;
}

body {
  font-family: $font;
  background-color: $secondary-color;
  font: 24px "Century Gothic", Futura, sans-serif;
  margin: 25px;
  color: $white;
}

.fa-link {
  color: $blue;
  font-size: 2rem;
  margin: 0.5rem;
  padding-bottom: 0.2rem;
  transition: all 0.25s;
}

.fa-link:hover {
  color: $white;
  font-size: 2.5rem;
}

.links {
  margin-bottom: 2rem;
}

h1 {
  padding: 0rem;
  font-size: 5rem;
  margin: 0rem;
}

h2 {
  padding-bottom: 0rem;
  margin-bottom: 0rem;
}

.clicked {
  background-color: $blue !important;
  border-color: $blue !important;
  padding-right: 25px !important;
  padding-left: 25px !important;
  color: $secondary-color !important;
  font-weight: bold;
}

.fadeOut{
  opacity:0;
  width:0;
  height:0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.fadeIn{
  opacity:1;
  width:100px;
  height:100px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

.homepage {
  min-height: 100vh;
  font-family: $font;
  margin-top: 5rem;
}

.btn-primary {
  font-size: 20px;
  margin: 0.25rem;
  background-color: $secondary-color;
  border-radius: 0rem;
  border-color:$blue;
  padding: 0rem 1rem 0rem 1rem;
  color: $white;
  transition: all 0.5s;
}

.btn-primary:hover {
  background-color: $blue;
  border-color: $blue;
  color: $secondary-color;
  padding-right: 25px;
  padding-left: 25px;
}

.btn-primary:active {
  border-style: outset;
}

.bdg-primary {
  font-size: 20px;
  margin: 0.25rem;
  background-color: $white;
  border-radius: 0rem;
  border-color: black;
  padding: 0rem 1rem 0rem 1rem;
  color: black;
  transition: all 0.5s;
}

.bdg-primary:hover {
  background-color: $blue;
  border-color: $blue;
  padding-right: 25px;
  padding-left: 25px;
}

.bdg-primary:active { 
  border-style: outset;
}

ol, ul {
  padding-left: 30px;
}

.progress {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 42px;
  height: 30px;
  font-weight: bold;
}

.progress-bar {
  color: $secondary-color;
  padding-left: 0.25rem;
  background-color: $blue;
  text-align: left;
  // padding-top: 1rem;
}

.jumbotron {
  border-color: $blue;
  padding: 1rem 1rem 1rem 1rem;
  margin-bottom: 0rem;
  background-color: inherit;
  border-width: 5rem;
}

hr {
  border-color: $blue; 
}